<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!--        <context:component-scan base-package="banksystem"/>-->
    <bean id="menuBean"
          class="banksystem.service.Menu">

    </bean>
    <bean id="cardServiceBean"
          class="banksystem.service.CardService">
    </bean>
    <bean id="clientServiceBean"
          class="banksystem.service.ClientService">
    </bean>
    <bean id="countServiceBean"
          class="banksystem.service.CountService">
    </bean>

</beans>