<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

    <property name="connection.url">${db.url}</property>
    <property name="connection.driver_class">${db.driverClassName}</property>
    <property name="connection.username">${db.username}</property>
    <property name="connection.password">${db.password}</property>

    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.connection.useSSL">false</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    <property name="hibernate.hbm2ddl.auto">validate</property>

    <mapping class="banksystem.dao.model.Client"/>
    <mapping class="banksystem.dao.model.Count"/>
    <mapping class="banksystem.dao.model.Card"/>

  </session-factory>
</hibernate-configuration>